:root {
  /* Chess Board colors */
  --green-board-light: #eeeed2;
  --green-board-dark: #769656;
  --brown-board-dark: #b58863;
  --brown-board-light: #f0d9b5;

  /* Component colors */
  --dark-board-base-green: rgb(22, 101, 52);
  --dark-board-hover-green: rgba(101, 163, 13);
  --dark-board-darkest-green: #052e16;
  --dark-board-lightest-green: #f0fdf4;
  --light-board-darkest-brown: rgb(55, 38, 27);
  --light-board-dark-brown: rgb(158, 109, 64, 1);
  --light-board-acc-body-brown: rgba(240, 217, 181, 1);
  --darkest-brown-light-shade: rgb(55, 38, 27, 0.8);
  --eerie-black: hsla(60, 5%, 12%, 1);

  /* Light mode */
  --hover-light: rgb(158, 109, 64, 0.8);
  --background: var(--body-light);
  --body-light: url("wood.png");
  --light-color-board: var(--brown-board-light);
  --dark-color-board: var(--brown-board-dark);
  --header-background: rgba(240, 217, 181, 0.6);
  --tutorial-list-item: rgba(240, 217, 181, 0.6);
  --header-text: var(--light-board-darkest-brown);
  --acc-body-bkg: var(--light-board-acc-body-brown);
  --light-board-dropdown-bkg: var(--light-board-acc-body-brown);
  --accordion-not-collapsed-color: white;
  --accordion-not-collapsed-bg: rgb(158, 109, 64, 0.95);
  --grp-btn: var(--light-board-darkest-brown);
  --accordion-button: var(--light-board-dark-brown);
  --tutorial-heading: var(--light-board-dark-brown);
  --test-yourself: var(--light-board-dark-brown);
  --test-yourself-disabled: var(--hover-light);
  --hover-btn-group: var(--darkest-brown-light-shade);
  --accordion-border: var(--light-board-darkest-brown);
  --notation-clr: var(--light-board-darkest-brown);
  --dropdown-hover: var(--darkest-brown-light-shade);

  /* Dark mode */
  --dark-board-btn-grp: var(--dark-board-hover-green);
  --acc-body-color: var(--dark-board-darkest-green);
  --tutorial-text: var(--dark-board-darkest-green);
  --body-dark: var(--eerie-black);
}

* {
  box-sizing: border-box;
  margin: 0;
}

/* Conversion of px to rem, 1rem = 10px */
html {
  font-size: 62.5%;
}

.navbar {
  color: var(--header-text);
  display: flex;
  justify-content: space-between;
  background-color: var(--header-background);
  padding: 1.25rem;
}

.navbar-right {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  width: 20rem;
}

h1 {
  letter-spacing: 1.5px;
  margin: 0;
  /* padding: 0; */
  font-weight: 700;
}

/* .navbar-left {
  align-self: center;
} */

.dropdown {
  position: relative;
  align-self: center;
}

.dropdown-menu {
  position: absolute;
  /* left was defined as 0, changed it to -10px to make the dropdown-menu move a bit left, will have to work on it to get it to center*/
  left: -1rem;
  top: calc(100% + 0.25rem);
  background-color: var(--light-board-dropdown-bkg);
  padding: 0.75rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown.active > .link + .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.information-grid {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 0.5rem;
}

.link {
  background: none;
  border: none;
  text-decoration: none;
  color: var(--header-text);
  font-family: inherit;
  cursor: pointer;
}

.dropdown.active > .link,
.link:hover {
  color: var(--dropdown-hover);
}

.size3 {
  border: none;
  background: none;
}

.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}

.speed {
  transform: scaleX(-1);
}

.dark-mode-toggle {
  color: var(--foreground);
  border: 0.2rem solid currentColor;
  padding: 0.4rem;
  background: transparent;
  cursor: pointer;
  border-radius: 0.5rem;
  width: 3rem;
  height: 3rem;
}

.bar1,
.bar2,
.bar3 {
  background-color: black;
  height: 4px;
  width: 36px;
  margin: 3px;
  border-radius: 10px;
}

.navbar .hamburger {
  display: none;
}

.animateBar1 {
  animation: flipBar1 1s;
  animation-fill-mode: forwards;
}
.animateBar2 {
  animation: fadeBar2 1s;
  animation-fill-mode: forwards;
}
.animateBar3 {
  animation: flipBar3 1s;
  animation-fill-mode: forwards;
}

@keyframes flipBar1 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(45deg) translate(4px, 10px);
  }
}

@keyframes fadeBar2 {
  from {
    transform: scaleX(1);
    opacity: 1;
  }
  to {
    transform: scaleX(0);
    opacity: 0;
  }
}

@keyframes flipBar3 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-45deg) translate(4px, -10px);
  }
}

body {
  line-height: 1;
  color: var(--foreground);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #f1f5f9;
  /* The text of the element and its sub-elements is not selectable. */
  user-select: none;
  background-image: var(--background);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  transform: scale(1);
}

.mega-container {
  display: grid;
  grid-template-columns: 1fr 52rem 40rem;
  grid-template-rows: 7rem 53rem;
  padding: 1rem;
  column-gap: 7rem;
  row-gap: 2rem;
  position: relative;
  grid-template-areas:
    "btn board tutorial"
    "accordion  board tutorial";
  margin: 10rem auto 0rem auto;

  max-width: 97.5%;
  /* min-height: 40%; */
  /* margin: 20rem; */
}

.choose-opening {
  grid-area: btn;
  min-width: 20rem;
  align-self: start;
  justify-self: center;
}

.extended-chess-board {
  grid-area: board;
  display: flex;
  flex-direction: column;
  align-self: start;
  justify-self: center;
  gap: 2rem;
  position: relative;
}

.chess-board {
  display: grid;
  border-radius: 0.5rem;
  grid-template-columns: repeat(8, 6.5rem);
  grid-template-rows: repeat(8, 6.5rem);
  min-height: 52rem;
  min-width: 52rem;
  overflow: hidden;
  box-shadow: var(--shadow-elevation-high);
}

.sq {
  width: 6.5rem;
  height: 6.5rem;
}

.sq-block {
  position: relative;
}

.sq-notation-white,
.sq-notation-black {
  position: absolute;
  font-size: 1.5em;
  font-weight: 700;
}

.number {
  top: 1px;
  left: 1px;
}

.character {
  bottom: 1px;
  right: 1px;
}

.chess-board {
  background-color: var(--light-color-board);
}

.chess-board :nth-child(n):nth-child(even):nth-child(-n + 8),
.chess-board :nth-child(n + 9):nth-child(odd):nth-child(-n + 16),
.chess-board :nth-child(n + 17):nth-child(even):nth-child(-n + 24),
.chess-board :nth-child(n + 25):nth-child(odd):nth-child(-n + 32),
.chess-board :nth-child(n + 33):nth-child(even):nth-child(-n + 40),
.chess-board :nth-child(n + 41):nth-child(odd):nth-child(-n + 48),
.chess-board :nth-child(n + 49):nth-child(even):nth-child(-n + 56),
.chess-board :nth-child(n + 57):nth-child(odd):nth-child(-n + 64) {
  background-color: var(--dark-color-board);
}

.sq-block :nth-child(n):nth-child(even):nth-child(-n + 8) {
  background-color: inherit;
}

img {
  width: 100%;
}

.container3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.test-yourself,
.hint {
  width: 10rem;
  height: 7rem;
  margin-left: 1.5rem;
}

.font-large,
.size3 {
  font-size: 2.5rem;
}

.font-medium,
.accordion-button,
.accordion-body {
  font-size: 2rem;
}

.test-yourself[disabled] {
  background-color: var(--test-yourself-disabled);
  color: white;
}

.play-controls {
  margin-right: 0.5rem;
  border: none;
}

.bi {
  color: var(--grp-btn);
  font-size: 5.25rem;
}

.bi:hover {
  color: var(--hover-btn-group);
}

.test-yourself {
  background-color: var(--test-yourself);
  color: white;
  border-style: none;
}

.choose-opening {
  border-style: none;
}

.tutorial {
  grid-area: tutorial;
  height: 62rem;
  min-width: 40rem;
  align-self: start;
  justify-self: center;
  background-color: #fff;
  /* To make the border-radius work */
  overflow: hidden;
}

.h2-tutorial {
  text-align: center;
  background-color: var(--tutorial-heading);
  color: white;
  padding: 1rem;
  margin-bottom: 2rem;
}

.choose-opening,
.tutorial,
#accordionFlushExample .accordion-item {
  border-radius: 0.5rem;
  overflow: hidden;
}

/* For increasing size of accordion */
.accordion-body {
  background-color: var(--acc-body-bkg);
  color: var(--acc-body-color);
}

.accordion {
  grid-area: accordion;
  /* width: 85%; */
  align-self: start;
  justify-self: center;
  width: 100%;
}

.accordion-button,
.choose-opening {
  background-color: var(--accordion-button);
  color: white;
}

/* .material-icons.md-48 {
  font-size: 48px;
} */

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;

  /* transition: transform 100ms ease-in-out; */
}

.rotate {
  rotate: 180deg;
}

.material-symbols-outlined-fill {
  font-variation-settings: "FILL" 100, "wght" 400, "GRAD" 0, "opsz" 24;
}

.hidden {
  display: none;
}

dialog {
  z-index: 10;
  background: grey;
  border: none;
  border-radius: 1rem;
  font-size: 2rem;
  color: white;
  margin: auto;
}

.dialog {
  user-select: none;
}

.question {
  /* border: 3px solid red; */
  box-shadow: 0px 0px 0px 4px red inset;
}

.highlight {
  /* border: 3px solid blue; */
  box-shadow: 0px 0px 0px 4px blue inset;
}

.darkmode {
  background: var(--body-dark);
  --light-color-board: var(--green-board-light);
  --dark-color-board: var(--green-board-dark);
  --accordion-button: var(--dark-board-base-green);
  /* --accordion-not-collapsed-color: var(--dark-board-base-green); */
  --accordion-not-collapsed-bg: var(--dark-board-base-green);
  /* Needs work on this */
  --accordion-border: var(--dark-board-darkest-green);
  --hover-light: rgba(101, 163, 13);
  --tutorial-heading: var(--dark-board-base-green);
  --grp-btn: var(--dark-board-btn-grp);
  --header-background: var(--dark-board-darkest-green);
  --header-text: white;
  --test-yourself: var(--dark-board-base-green);
  --hover-btn-group: rgba(101, 163, 13, 0.9);
  --tutorial-list-item: var(--dark-board-lightest-green);
  --acc-body-bkg: rgb(22, 101, 52, 0.2);
  --acc-body-color: var(--dark-board-darkest-green);
  --light-board-dropdown-bkg: var(--dark-board-lightest-green);
  --notation-clr: var(--dark-board-darkest-green);
  --dropdown-hover: var(--dark-board-lightest-green);
  --test-yourself-disabled: var(--hover-light);
}

#tutorial-text {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  color: var(--tutorial-text);
  align-items: start;
}

li {
  padding: 1rem 0 1rem 0;
}

li:nth-child(even) {
  background-color: var(--tutorial-list-item);
}

.accordion-button:focus,
.choose-opening:focus,
.test-yourself:focus {
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.125);
}

.accordion-button:hover,
.btn.test-yourself:hover,
.btn.choose-opening:hover,
.accordion-button:active,
.btn.test-yourself:active,
.btn.choose-opening:active {
  background-color: var(--hover-light);
  /* color: white; */
  /* border-style: none; */
  /* border-bottom: 0.2rem solid var(--accordion-border); */
}

/* .btn.choose-opening:active {
  border-style: none;
} */

.btn.test-yourself:hover,
.btn.choose-opening:hover,
.btn.test-yourself:active,
.btn.choose-opening:active {
  color: white;
  /* border-bottom: 0.2rem solid var(--accordion-border); */
}

.accordion-item,
.choose-opening,
.h2-tutorial,
.btn.choose-opening:active,
.btn.choose-opening:hover {
  border-bottom: 0.2rem solid var(--accordion-border);
}

.accordion-button:not(.collapsed) {
  color: var(--accordion-not-collapsed-color);
  background-color: var(--accordion-not-collapsed-bg);
  /* box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0
    var(--accordion-border); */
}

/* Media queries */

/* xl */
@media (max-width: 1280px) {
  /* .container {
    max-width: 1024px;
  } */
}

/* lg */
@media (max-width: 1024px) {
  /* .container {
    max-width: 768px;
  } */
}

/* md */
@media (max-width: 768px) {
  /* .container {
    max-width: 640px;
  } */
}

/* sm */
@media (max-width: 640px) {
  /* .container {
    max-width: 475px;
  } */
}

/* xs */
@media only screen and (max-width: 600px) {
  body {
    background-attachment: fixed;
  }
  .mega-container {
    margin: 5rem auto 0rem auto;
    padding: 0rem;
    max-width: 100%;
    justify-content: center;
    grid-template-columns: 36rem;
    grid-template-rows: 5rem 1fr 60rem 45rem;
    grid-template-areas:
      "btn"
      "accordion "
      "board"
      "tutorial";
  }

  .accordion {
    min-width: 36rem;
    max-width: 36rem;
    justify-self: center;
    /* min-width: 30rem; */
    align-self: start;
    /* margin: auto; */
    padding: 2rem;
  }

  .extended-chess-board {
    min-width: 36rem;
    margin-top: 5rem;
  }

  .chess-board {
    display: grid;
    border-radius: 0.5rem;
    grid-template-columns: repeat(8, 4.5rem);
    grid-template-rows: repeat(8, 4.5rem);
    min-height: 36rem;
    min-width: 36rem;
    overflow: hidden;
  }

  .sq {
    width: 4.5rem;
    height: 4.5rem;
  }

  .container {
    width: 100%;
  }
  .tutorial {
    min-width: 32rem;
    height: 40rem;
  }

  h1 {
    font-size: 2rem;
  }

  .container3 {
    flex-direction: column;
  }

  .font-large {
    font-size: 2rem;
  }

  .font-medium,
  .accordion-body,
  .accordion-button {
    font-size: 1.75rem;
  }

  .sq-notation-white,
  .sq-notation-black {
    font-size: 1.25em;
  }

  .navbar-right {
    display: none;
  }

  .navbar .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mobileNav {
    width: 80px;
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    padding: 16px;
    gap: 16px;
  }
}
