/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*============== CHESS BOARD COLORS =====================*/
  --green-board-light: #eeeed2;
  --green-board-dark: #769656;
  --brown-board-dark: #b58863;
  --brown-board-light: #f0d9b5;

  /*===================== COMPONENT COLORS ========================*/
  --dark-board-base-green: rgb(22, 101, 52);
  --dark-board-hover-green: rgba(101, 163, 13);
  --dark-board-darkest-green: #052e16;
  --dark-board-lightest-green: #f0fdf4;
  --dark-board-lightest-green-opaque: rgb(240, 253, 244, 0.6);
  --light-board-darkest-brown: rgb(55, 38, 27);
  --light-board-dark-brown: rgb(158, 109, 64, 1);
  --light-board-acc-body-brown: rgba(240, 217, 181, 1);
  /* --darkest-brown-light-shade: rgb(55, 38, 27, 0.9); */
  --eerie-black: hsla(60, 5%, 12%, 1);

  /*==============LIGHT/DARK MODE VARIABLES================= */
  --hover-light: rgb(158, 109, 64, 0.8);
  --background: var(--body-light);
  --body-light: url("wood.png");
  --light-color-board: var(--brown-board-light);
  --dark-color-board: var(--brown-board-dark);
  --header-background: rgba(240, 217, 181, 0.6);
  --tutorial-list-item: rgba(240, 217, 181, 0.6);
  --header-text: var(--light-board-darkest-brown);
  --acc-body-bkg: var(--light-board-acc-body-brown);
  --light-board-dropdown-bkg: rgba(240, 217, 181, 0.6);
  --accordion-not-collapsed-color: white;
  --accordion-not-collapsed-bg: rgb(158, 109, 64, 0.95);
  --grp-btn: var(--light-board-darkest-brown);
  --accordion-button: var(--light-board-dark-brown);
  --tutorial-heading: var(--light-board-dark-brown);
  --test-yourself: var(--light-board-dark-brown);
  --test-yourself-disabled: var(--hover-light);
  --hover-btn-group: var(--darkest-brown-light-shade);
  --accordion-border: var(--light-board-darkest-brown);
  --notation-clr: var(--light-board-darkest-brown);
  /* Need to work on dropdown hover */
  /* --dropdown-hover: var(--darkest-brown-light-shade); */
  --symbol-color: var(--acc-body-color);

  /* Dark mode */
  --dark-board-btn-grp: var(--dark-board-hover-green);
  --acc-body-color: var(--dark-board-darkest-green);
  --tutorial-text: var(--dark-board-darkest-green);
  --body-dark: var(--eerie-black);
}

/*=============== BASE ===============*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ol,
ul,
dl {
  padding: 0rem;
  list-style: none;
  margin: 0rem;
}

/* Conversion of px to rem, 1rem = 10px */
html {
  font-size: 62.5%;
}

/*=============== REUSABLE CSS CLASSES ===============*/
/* .container {
  max-width: 1360px;
  margin-inline: auto;
} */

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  /* color: var(--foreground); */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* The text of the element and its sub-elements is not selectable. */
  user-select: none;
  background-image: var(--background);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--header-background);
  color: var(--header-text);
  width: 100%;
  padding: 1rem;
  z-index: 100;
}

.nav__data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav {
  height: var(--header-height);
}

.nav__link {
  color: var(--header-text);
  background-color: var(--header-background);
  font-weight: 600;
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s;
}

/* .nav__link:hover {
  background-color: var(--acc-body-bkg);
} */

/*=============== DROPDOWN ===============*/
.dropdown__item {
  cursor: pointer;
}

.dropdown__arrow {
  font-size: 2.5rem;
  font-weight: initial;
  transition: transform 0.4s;
}

.dropdown__link {
  padding: 1.25rem 1.25rem 1rem 2.5rem;
  color: var(--header-text);
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-weight: 600;
  transition: background-color 0.3s;
}

.dropdown__menu button {
  border: none;
  width: 100%;
  color: var(--symbol-color);
  background-color: var(--tutorial-list-item);
}

.dropdown__link:hover {
  background-color: var(--hover-light);
}

.dropdown__menu {
  /* max-width: 100%; */
  background-color: var(--acc-body-bkg);

  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}

/* Show dropdown menu & submenu */
body.hasHover .dropdown__item:hover .dropdown__menu,
.active-menu {
  max-height: 1000px;
  transition: max-height 0.4s ease-in;
}

/* Rotate dropdown icon */
body.hasHover .dropdown__item:hover .dropdown__arrow,
.active-arrow {
  transform: rotate(180deg);
}

/*=============== DROPDOWN SUBMENU ===============*/
.dropdown__add {
  margin-left: auto;
}

.title {
  letter-spacing: 1.5px;
  margin: 0;
  /* padding: 0; */
  font-weight: 700;
  font-size: 3rem;
}

@media screen and (min-width: 769px) {
  .nav {
    height: calc(var(--header-height) + 2rem);
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    /* align-items: center; */
  }
  .nav_toggle {
    display: none;
  }

  .nav__list {
    height: 100%;
    display: flex;
    column-gap: 5rem;
  }
  .nav__link {
    height: 100%;
    padding: 0;
    justify-content: initial;
    column-gap: 0.25rem;
  }
  .nav__link:hover {
    background-color: transparent;
  }

  .dropdown__item {
    position: relative;
  }

  .dropdown__menu {
    max-height: initial;
    overflow: initial;
    position: absolute;
    left: 0;
    top: 6rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s, top 0.3s;
  }

  .dropdown__link {
    padding-inline: 1rem 3.5rem;
  }
  /* Show dropdown menu */
  body.hasHover .dropdown__item:hover .dropdown__menu {
    opacity: 1;
    top: 5rem;
    pointer-events: initial;
    transition: top 0.3s;
    z-index: 10;
  }

  .active-menu {
    opacity: 1;
    top: 5rem;
    pointer-events: initial;
    transition: top 0.3s;
    z-index: 10;
  }
  .nav .hamburger {
    display: none;
  }
}

.material-symbols-outlined {
  border: none;
  background: none;
}

/* .material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
} */

.speed {
  transform: scaleX(-1);
}

.dark-mode-toggle {
  color: var(--foreground);
  border: 0.2rem solid currentColor;
  padding: 0.4rem;
  background: transparent;
  cursor: pointer;
  border-radius: 0.5rem;
  width: 3rem;
  height: 3rem;
}

.bar1,
.bar2,
.bar3 {
  background-color: currentColor;
  height: 4px;
  width: 36px;
  margin: 3px;
  border-radius: 10px;
}

.animateBar1 {
  animation: flipBar1 1s;
  animation-fill-mode: forwards;
}
.animateBar2 {
  animation: fadeBar2 1s;
  animation-fill-mode: forwards;
}
.animateBar3 {
  animation: flipBar3 1s;
  animation-fill-mode: forwards;
}

@keyframes flipBar1 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(45deg) translate(4px, 10px);
  }
}

@keyframes fadeBar2 {
  from {
    transform: scaleX(1);
    opacity: 1;
  }
  to {
    transform: scaleX(0);
    opacity: 0;
  }
}

@keyframes flipBar3 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-45deg) translate(4px, -10px);
  }
}

.mega-container {
  display: grid;
  grid-template-columns: minmax(30rem, 38rem) 42rem 34rem;
  grid-template-rows: 4rem 1fr;
  padding: 10rem 4rem 7rem 4rem;
  column-gap: 7rem;
  row-gap: 6rem;
  position: relative;
  grid-template-areas:
    "btn board tutorial"
    "accordion  board tutorial";
  margin: 0rem auto;
  justify-content: center;
}

.choose-opening {
  grid-area: btn;
  min-width: 20rem;
  align-self: start;
  justify-self: center;
}

.extended-chess-board {
  grid-area: board;
  display: flex;
  flex-direction: column;
  align-self: start;
  justify-self: center;
  gap: 2rem;
  position: relative;
}

.chess-board {
  display: grid;
  border-radius: 0.5rem;
  grid-template-columns: repeat(8, 5.25rem);
  grid-template-rows: repeat(8, 5.25rem);
  box-shadow: var(--shadow-elevation-high);
}

.sq {
  width: 100%;
  height: 100%;
}

.sq-block {
  position: relative;
}

.sq-notation-white,
.sq-notation-black {
  position: absolute;
  font-size: 1.5em;
  font-weight: 700;
}

.number {
  top: 1px;
  left: 1px;
}

.character {
  bottom: 1px;
  right: 1px;
}

.chess-board {
  background-color: var(--light-color-board);
}

.chess-board :nth-child(n):nth-child(even):nth-child(-n + 8),
.chess-board :nth-child(n + 9):nth-child(odd):nth-child(-n + 16),
.chess-board :nth-child(n + 17):nth-child(even):nth-child(-n + 24),
.chess-board :nth-child(n + 25):nth-child(odd):nth-child(-n + 32),
.chess-board :nth-child(n + 33):nth-child(even):nth-child(-n + 40),
.chess-board :nth-child(n + 41):nth-child(odd):nth-child(-n + 48),
.chess-board :nth-child(n + 49):nth-child(even):nth-child(-n + 56),
.chess-board :nth-child(n + 57):nth-child(odd):nth-child(-n + 64) {
  background-color: var(--dark-color-board);
}

.sq-block :nth-child(n):nth-child(even):nth-child(-n + 8) {
  background-color: inherit;
}

img {
  width: 100%;
}

.container3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.test-yourself,
.hint {
  width: 10rem;
  height: 7rem;
  margin-left: 1.5rem;
}

.font-large {
  font-size: 3rem;
}

.font-medium,
.accordion-button,
.accordion-body {
  font-size: 2rem;
}

.test-yourself[disabled] {
  background-color: var(--test-yourself-disabled);
  color: white;
}

.play-controls {
  margin-right: 0.5rem;
  border: none;
}

.bi {
  color: var(--grp-btn);
  font-size: 5.25rem;
}

.bi:hover {
  color: var(--hover-btn-group);
}

.test-yourself {
  background-color: var(--test-yourself);
  color: white;
  border-style: none;
}

.choose-opening {
  border-style: none;
}

.tutorial {
  grid-area: tutorial;
  min-height: 100%;
  min-width: 100%;
  align-self: start;
  justify-self: center;
  background-color: #fff;
  /* To make the border-radius work */
  /* overflow: hidden; */
}

.h2-tutorial {
  text-align: center;
  background-color: var(--tutorial-heading);
  color: white;
  padding: 1rem;
  margin-bottom: 2rem;
}

.choose-opening,
.tutorial,
#accordionFlushExample .accordion-item {
  border-radius: 0.5rem;
  overflow: hidden;
}

/* For increasing size of accordion */
.accordion-body {
  background-color: var(--acc-body-bkg);
  color: var(--acc-body-color);
}

.accordion {
  grid-area: accordion;
  align-self: start;
  justify-self: center;
  min-width: 100%;
}

.accordion-button,
.choose-opening {
  background-color: var(--accordion-button);
  color: white;
}

.dropdown__menu .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  color: var(--symbol-color);
}

.rotate {
  rotate: 180deg;
}

.dropdown__menu .material-symbols-outlined-fill {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
  color: var(--symbol-color);
}

.hidden {
  display: none;
}

dialog {
  z-index: 20;
  background: grey;
  border: none;
  border-radius: 1rem;
  font-size: 2rem;
  color: white;
  margin: auto;
}

.dialog {
  user-select: none;
}

.question {
  /* border: 3px solid red; */
  box-shadow: 0px 0px 0px 4px red inset;
}

.highlight {
  /* border: 3px solid blue; */
  box-shadow: 0px 0px 0px 4px blue inset;
}

.darkmode {
  background: var(--body-dark);
  --light-color-board: var(--green-board-light);
  --dark-color-board: var(--green-board-dark);
  --accordion-button: var(--dark-board-base-green);
  /* --accordion-not-collapsed-color: var(--dark-board-base-green); */
  --accordion-not-collapsed-bg: var(--dark-board-base-green);
  /* Needs work on this */
  --accordion-border: var(--dark-board-darkest-green);
  --hover-light: rgba(101, 163, 13);
  --tutorial-heading: var(--dark-board-base-green);
  --grp-btn: var(--dark-board-btn-grp);
  --header-background: var(--dark-board-darkest-green);
  --header-text: white;
  --test-yourself: var(--dark-board-base-green);
  --hover-btn-group: rgba(101, 163, 13, 0.9);
  --tutorial-list-item: var(--dark-board-lightest-green);
  --acc-body-bkg: rgb(22, 101, 52, 0.2);
  --acc-body-color: var(--dark-board-darkest-green);
  --light-board-dropdown-bkg: var(--dark-board-lightest-green-opaque);
  --notation-clr: var(--dark-board-darkest-green);
  --dropdown-hover: var(--dark-board-lightest-green);
  --test-yourself-disabled: var(--hover-light);
}

#tutorial-text {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  color: var(--tutorial-text);
  align-items: start;
}

.tutorial li {
  padding: 1rem 0 1rem 0;
}

.tutorial li:nth-child(even) {
  background-color: var(--tutorial-list-item);
}

.accordion-button:focus,
.choose-opening:focus,
.test-yourself:focus {
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.125);
}

.accordion-button:hover,
.btn.test-yourself:hover,
.btn.choose-opening:hover,
.accordion-button:active,
.btn.test-yourself:active,
.btn.choose-opening:active {
  background-color: var(--hover-light);
  /* color: white; */
  /* border-style: none; */
  /* border-bottom: 0.2rem solid var(--accordion-border); */
}

/* .btn.choose-opening:active {
  border-style: none;
} */

.btn.test-yourself:hover,
.btn.choose-opening:hover,
.btn.test-yourself:active,
.btn.choose-opening:active {
  color: white;
  /* border-bottom: 0.2rem solid var(--accordion-border); */
}

.accordion-item,
.choose-opening,
.h2-tutorial,
.btn.choose-opening:active,
.btn.choose-opening:hover {
  border-bottom: 0.2rem solid var(--accordion-border);
}

.accordion-button:not(.collapsed) {
  color: var(--accordion-not-collapsed-color);
  background-color: var(--accordion-not-collapsed-bg);
  /* box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0
    var(--accordion-border); */
}

/* Media queries */

/* xl */
@media (max-width: 1280px) {
  /* .container {
    max-width: 1280px;
    margin-inline: 5rem;
  } */
  .mega-container {
    max-width: 100%;
    grid-template-columns: 32rem 44rem;
    grid-template-rows: 4rem 1fr 40rem;
    grid-template-areas:
      "btn board"
      "accordion board"
      "tutorial tutorial";
    column-gap: 10rem;
    row-gap: 7rem;

    /* margin: 0 5rem; */
  }

  .chess-board {
    grid-template-columns: repeat(8, 5.5rem);
    grid-template-rows: repeat(8, 5.5rem);
  }

  .tutorial {
    min-width: 100%;
    min-height: 100%;
    grid-column-start: 2;
  }
}

/* lg */
@media (max-width: 1024px) {
  .mega-container {
    max-width: 100%;
    justify-content: center;
    grid-template-columns: 27rem 36rem;
    grid-template-rows: 4rem 45rem 40rem;
    grid-template-areas:
      "btn board"
      "accordion board"
      "tutorial tutorial";
    gap: 5rem;
  }

  .chess-board {
    grid-template-columns: repeat(8, 4.5rem);
    grid-template-rows: repeat(8, 4.5rem);
  }

  .font-large {
    font-size: 2.5rem;
  }

  .font-medium,
  .accordion-body,
  .accordion-button {
    font-size: 1.75rem;
  }
}

/* md */
/* Hamburger origin */

@media (max-width: 768px) {
  /* .nav__data {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  } */
  /* .container {
    max-width: 768px;
    margin-inline: auto;
  } */
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .font-large {
    font-size: 3rem;
  }

  .font-medium,
  .accordion-button {
    font-size: 2rem;
  }

  .accordion-body {
    font-size: 1.75rem;
  }

  /* .navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
  } */

  .mega-container {
    /* justify-content: center; */
    grid-template-columns: 40rem;
    grid-template-rows: 4em 1fr 58rem 50rem;
    grid-template-areas:
      "btn"
      "accordion "
      "board"
      "tutorial";
    row-gap: 7rem;
    /* Due to navbar being fixed, extra padding required */
    padding-top: 16.1rem;
  }

  .tutorial {
    grid-column-start: 1;
  }

  .chess-board {
    grid-template-columns: repeat(8, 5rem);
    grid-template-rows: repeat(8, 5rem);
  }

  .nav__menu {
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    /* height: calc(100vh - 3.5rem); */
    /* overflow: auto; */
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
  }
  /* .nav__menu::-webkit-scrollbar {
    width: 0;
  } */
  .nav__list {
    background-color: var(--black-color);
    padding-top: 1rem;
  }
}

/* Show menu */
.show-menu {
  opacity: 1;
  top: 3.5rem;
  pointer-events: initial;
}

/* Show icon */
/* .show-icon .nav__burger {
  opacity: 0;
  transform: rotate(90deg);
}
.show-icon .nav__close {
  opacity: 1;
  transform: rotate(90deg);
} */

/* xs */
@media only screen and (max-width: 480px) {
  .font-large {
    font-size: 2.5rem;
  }

  .font-medium,
  .accordion-button {
    font-size: 1.75rem;
  }

  .accordion-body {
    font-size: 1.5rem;
  }
  .mega-container {
    grid-template-columns: 34rem;
    grid-template-rows: 3.6rem 1fr 54rem 45rem;
    grid-template-areas:
      "btn"
      "accordion "
      "board"
      "tutorial";
  }

  .chess-board {
    grid-template-columns: repeat(8, 4.25rem);
    grid-template-rows: repeat(8, 4.25rem);
  }

  .sq-notation-white,
  .sq-notation-black {
    font-size: 1.25em;
  }
}

@media only screen and (max-width: 360px) {
  .mega-container {
    grid-template-columns: 30rem;
    grid-template-rows: 3.6rem 1fr 48rem 40rem;
  }

  .chess-board {
    grid-template-columns: repeat(8, 3.75rem);
    grid-template-rows: repeat(8, 3.75rem);
  }

  .title {
    font-size: 2.5rem;
  }
}
